<section>
    <div class="cats">
        <img src="{{imageUrl}}" alt="">
    </div>
    <div>
        <h3>{{name}}</h3>
        <h2>{{age}}</h2>
        <h2>{{bread}}</h2>
        <P>{{description}}</P>
    </div>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
</section>